<h1>Current Projects</h1>
<table>
<thead>
  <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>More info</th>
      <th>Edit</th>
      <th>Delete</th>
  </tr>
</thead>

<tbody>
<% @projects.each do |project| %>
  <tr>
    <td><%=project.title%></td>
    <td><%=project.genre%></td>
    <td><a href="/projects/<%= project.id %>">More info</a></td>
    <td><a href="/projects/<%= project.id %>/edit">Edit</a></td>
    <td>
    <form action="/projects/<%= project.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete" class="waves-effect waves-light btn-small light-blue accent-2">
  </form>
    </td>
  </tr>
  <% end %>
</tbody>
</table>